@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Courgette|Sedgwick+Ave+Display');
.container {
  margin:auto;
    text-align: center;
    padding-top: 7%;
    /*margin-right: 350px;*/
    margin-left: 436px;
}

#title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    /*color: #0a0404b3;*/
    font-size: 45px;
    color: #93a293;

}
#rules {
  color: #21c322e0;
  font-size: 40px;
}

.rule {
    font-size: 35px;
    /*color: #413b3ba3;*/
    color: #737f74a3;
    font-family: 'Nunito', sans-serif;
}
/*@media (max-width:800px) {
  .riddler{
    width:100%; The width is 100%, when the viewport is 800px or smaller
  }
}*/


.riddler {
  background-image: url(quiz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-
}

li {

    list-style: none;
    font-size: 25px;
}



.play {

    background-color:#115a14;
    width: 20%;
    height: 50px;
    border: 3px solid black;
    font-size: 30px;
    cursor: pointer;
        font-family: 'Nunito', sans-serif;
        margin-top: 20px;

}

.play:hover {
    background-color: #8123aed4;
}



/*//////////////////////////GAME PAGE/////////////////////////////////*/
#question {
  font-size: 20px;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Courgette', cursive;
}

.main-container {
    width: 650px;
    height: 520px;
    background-color:#e2e2e285;
    border-radius: 30px;
    position: relative;
    top: 90px;
    left: 30%;
    text-align: center;
    box-shadow: 2px 6px 6px 6px #05e62529;
}

.description {
    font-size: 40px;
    padding: 5%;
    font-family: 'Nunito', sans-serif;
}

.dotted {

    border: 2px dotted black;
}

.buttons {
    margin-top: 30px;
}

.answer {
    font-size: 20px;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    margin: 10px 40px 20px 0px;
    padding: 10px 10px;
        font-family: 'Nunito', sans-serif;

}

#choice1,
#choice2,
#choice3,
#choice4 {
    background-color: #115a14;
    cursor: pointer;
}

#choice1:hover,
#choice2:hover,
#choice3:hover,
#choice4:hover {
    background-color: #8123aed4;
}

#score {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.next {
  background-color:#8123aed4;
    width: px;
    /* margin-right: 340px; */
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.next:hover {
  background-color:#115a14;
}

.previous {
  background-color: #8123aed4;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
         margin-right: 340px; 

}
.previous:hover {
  background-color: #115a14;
}

.back {

   background-color: #115a14;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.back:hover {
  background-color: #8123aed4;
}
.submit {
   background-color: #8c8989;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.submit:hover {
  background-color: #0000008c;
}

.result {
    color: red;
    text-align: center;
    height: 200px;
}

.modalDialog {

    position: fixed;
    font-family: Arial;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999999;
    opacity: 0;

    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    height: 339px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.image {
  background-image: url(memory.gif);
  background-size: cover;
}
.image2{
    background-image: url(shocked.gif);
  background-size: cover;

}
.image3{
    background-image: url(myman.gif);
  background-size: cover;

}
/*//////////////////////////////////////////////////*/

.quiz_background{
  background-image: url(rid.jpg);
  background-size: cover;
}